# Server configuration
PORT=8080

# CORS settings for frontend connection
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Path to the Firebase service account key JSON file
FIREBASE_CONFIG_PATH=C:/Users/abhik/Desktop/CODSOFT/Task3-ATM_Interface/backend/firebase-service-account.json
