# Java & Maven Build files
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Sensitive Firebase account credentials keys
firebase-service-account.json
*.json

# IDE / Editor settings
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
.vscode/

# Local Environment Variables files
.env
.env.local
.env.*

# Secrets configurations
application.properties
application.yml
firebase-service-account.json
**/firebase-service-account.json
.env.local
.env.development
.env.production
.env.staging
